@model deliveryapp.ViewModels.RestaurantVM

@{
    var isEdit = Model != null && Model.Id > 0;
    var formAction = isEdit ? "Editar" : "Create";
}

<div class="container">
    <div class="form-container">
        <div class="form-header">
            <h2 class="text-center">Restaurante</h2>
            <p class="text-muted text-center">Llenar todos los detalles</p>
        </div>

        <form id="createRestaurantForm" asp-controller="RestaurantManagement" asp-action="@formAction" method="post" enctype="multipart/form-data">
            @* @Html.AntiForgeryToken() *@
            @if (isEdit)
            {
                <input type="hidden" asp-for="Id" />
            }
            <div class="row mb-4">
                <div class="col-md-12">
                    <label for="name" class="form-label">Nombre</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-person"></i></span>
                        <input type="text" class="form-control" id="name" placeholder="Ingresar nombre de restaurante" required asp-for="Name">
                    </div>
                    <span asp-validation-for="Name" class="text-danger fst-italic"></span>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-12">
                    <label for="description" class="form-label">Descripción</label>
                    <textarea class="form-control" id="description" rows="3" placeholder="Ingresar descripción" asp-for="Description"></textarea>
                </div>
                <span asp-validation-for="Description" class="text-danger fst-italic"></span>
            </div>

            <div class="row mb-4">
                <div class="col-md-12">
                    <label for="address" class="form-label">Dirección</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-geo-alt"></i></span>
                        <input type="text" class="form-control" id="address" placeholder="Ingresar dirección completa" asp-for="Address">
                    </div>
                    <span asp-validation-for="Address" class="text-danger fst-italic"></span>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-6">
                    <label for="phoneNumber" class="form-label">Numero de teléfono</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-telephone"></i></span>
                        <input type="tel" class="form-control" id="phoneNumber" placeholder="Ingresar numero de teléfono" asp-for="PhoneNumber">
                    </div>
                    <span asp-validation-for="PhoneNumber" class="text-danger fst-italic"></span>
                </div>

                <div class="col-md-6">
                    <label for="email" class="form-label">Email</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                        <input type="email" class="form-control" id="email" placeholder="Dirección de correo electrónico" required asp-for="Email">
                    </div>
                    <span asp-validation-for="Email" class="text-danger fst-italic"></span>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-12">
                    <label for="imageUpload" class="form-label">Imagen</label>
                    <div class="mt-2">
                        <span class="text-muted small">Upload an image:</span>
                        <input class="form-control"  type="file" id="imageUpload" accept=".jpg,.jpeg,.png,.gif,.webp" asp-for="ImageUpload">
                    </div>
                </div>
            </div>
            @if (Model != null && Model.ImagePath != null)
            {
                <div class="mb-2">
                    <p class="text-muted small">Imagen actual:</p>
                    <img src="@Model.ImagePath" alt="Imagen actual" class="img-thumbnail" style="max-width: 100px; max-height: 100px;" />
                </div>
            }
            <input type="hidden" asp-for="ImagePath" />
            <div class="row mt-4">
                <div class="col d-flex justify-content-between">
                    <button type="button" class="btn btn-outline-secondary">Cancelar</button>
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-check-circle me-2"></i>Enviar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>



