@{
    ViewData["Title"] = "Home Page";
}

<div class="hero">
    <div>
        <div class="hero__info-container">
            <div class="hero__slogan">
                <h2>
                    Tú ordena y nosotros te <span>llevamos</span> tus cosas
                </h2>
            </div>
            <div class="hero__stats">
                <div class="stats-item stats-item--cian">
                    <div class="sized">+500</div>
                    <div>Pedidos realizados</div>
                </div>
                <div class="stats-item">
                    <div class="sized">0.4k</div>
                    <div>Usuarios activos</div>
                </div>
            </div>
        </div>
        <div class="hero__image">
            <img src="./images/delivery3dcropped.png" alt="Alternate Text" />
        </div>
    </div>
</div>
