@{
}
@model List<deliveryapp.Models.Restaurant>
<section class="restaurants mt-4">
    
    <div class="c-browser position-relative container">
        <div class="position-absolute end-0 d-flex">
            <input type="text" class="form-control mb-3" placeholder="Buscar restaurante" />
            <button class="btn btn-primary w-100">Buscar</button>
        </div>
    </div>
    <div class="list-and-browser-container d-flex">
        <div class="filter-panel">
        </div>
        <div class="restaurants-list container">

            @foreach (var item in Model)
            {
                <a class="restaurant-list-item mb-4" asp-controller="Home" asp-action="Menu" asp-route-restaurant_id="@item.Id">
                    <div class="restaurant-image">
                        <img src="@item.ImageUrl" alt="Imagen del restaurante" />
                    </div>
                    <div class="restaurant-info-container ms-3">
                        <div class="restaurant-basics py-2">
                            <h4 class="restaurant-name fs-5">@item.Name</h4>
                            <span class="restaurant-location d-block text-secondary">@item.Address</span>
                            <span class="restaurant-delivery-price text-secondary">precio delivery</span>
                        </div>
                        <div class="restaurant-rating">
                        </div>
                    </div>

                </a>
            }

        </div>
    </div>
   
</section>

