a{
    text-decoration: none;
    color: black;
}
.section-title, 
.table-controls,
.grid-table{
    width: 95%;
    margin: auto;
}

.table-container{
    position: relative;
    margin-top: 20px;
}
.table-controls{
    height: 50px;
    position: relative;
}

.btn-create{
    padding: 10px;
    border-radius: 12px;
    background-color: #295733;
    border: none;
    color: #ffffff;
    font-weight: 500;

}

.grid-header,
.grid-row {
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border: 2.21px solid rgba(235, 235, 235, 0.822);
    border-radius: 10px;
    margin: 10px 0;
    font-weight: 500;
    padding: 5px 0;
    background-color: #ffff;
}

    .grid-row:hover {
        box-shadow: 0px 2px 10px -3px rgba(0,0,0,0.1);
        transition: all .25s;
    }

.grid-header {
    font-weight: 700;
    border: none;
    background-color: #4e4e4e;
    padding: 15px 0;
    box-shadow: none;
    color: #ffffff;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.grid-cell {
    margin: auto;
}

.grid-row img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.grid-header-two,
.grid-row-two {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-bottom: 2.2px solid rgba(235, 235, 235, 0.822);
    padding: 15px 0;
    font-weight: 500;
}

    .grid-row-two:hover {
        box-shadow: 0px 2px 10px -3px rgba(0,0,0,0.1);
        transition: all .25s;
        border-radius: 10px;
    }

.grid-header-two {
    font-weight: 700;
    border: none;
    background-color: #F8F7FC;
    padding: 14px 0;
    box-shadow: none;
    border-radius: 10px;
    color: rgb(121, 121, 121);
}
.grid-row-two img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.grid-user-orders-table .grid-header-two,
.grid-user-orders-table .grid-row-two {
    grid-template-columns: repeat(5, 1fr);
}



.grid-repartidores-table .grid-header,
.grid-repartidores-table .grid-row {
    grid-template-columns: repeat(6, 1fr);
}


.custom-badge {
    border-radius: 40px;
    font-weight: 700;
    font-size: 15px;
}

.badge-pending {
    background-color: #ffc10731;
    color: #ffa807;
    padding: 3px 7px;
    font-size: 14px;
}

.badge-success{
    background-color: #1b944a31;
    color: #257446;
    padding: 3px 7px;
    font-size: 14px;
}

.badge-canceled{
    background-color: #942d1b31;
    color: #dd2e3d;
    padding: 3px 7px;
    font-size: 14px;
}

.badge-available {
    background-color: #1b944a31;
    color: #257446;
    padding: 5px 10px;
}

.badge-offline {
    background-color: #55555531;
    color: #353535;
    padding: 5px 10px;
}

.badge-occupied {
    background-color: #6e1b9431;
    color: #5e2574;
    padding: 5px 10px;
}



